version: v0.13.0

dsn: memory

serve:
  public:
    base_url: {{KRATOS_BROWSER_URL}}/
    cors:
      enabled: false
  admin:
    base_url: http://kratos:4434/

selfservice:
  default_browser_return_url: {{PORTAL_APP_URL}}/

  allowed_return_urls:
    - {{PORTAL_APP_URL}}
    - {{APP_BASE_URL}}

  methods:
    password:
      enabled: true
      config:
        haveibeenpwned_enabled: true
        min_password_length: 8
        identifier_similarity_check_enabled: true
    totp:
      enabled: true
      config:
        issuer: {{KRATOS_TOTP_ISSUER}}
    lookup_secret:
      enabled: false
    link:
      enabled: false
    code:
      enabled: true

  flows:
    registration:
      enabled: true
      ui_url: {{PORTAL_APP_URL}}/registration
      lifespan: 10m
      after:
        password:
          hooks:
            - hook: session
    login:
      ui_url: {{PORTAL_APP_URL}}/login
      lifespan: 10m
    logout:
      after:
        default_browser_return_url: {{PORTAL_APP_URL}}/login
    settings:
      ui_url: {{PORTAL_APP_URL}}/settings
      required_aal: highest_available
    recovery:
      enabled: true
      ui_url: {{PORTAL_APP_URL}}/recovery
      use: code
    verification:
      enabled: true
      ui_url: {{PORTAL_APP_URL}}/verification
      use: code
      after:
        default_browser_return_url: {{PORTAL_APP_URL}}/

session:
  lifespan: 24h
  cookie:
    persistent: true
    same_site: Lax
    domain: {{SESSION_COOKIE_DOMAIN}}

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/config/kratos/identity.schema.json

courier:
  smtp:
    from_address: {{KRATOS_SMTP_FROM_ADDRESS}}
    from_name: {{KRATOS_SMTP_FROM_NAME}}

log:
  level: {{ORY_LOG_LEVEL}}
  format: text
  leak_sensitive_values: false
